# Backend
FLASK_ENV=production
SECRET_KEY=votre_cle_secrete_a_changer
DATABASE_URL=postgresql://user:password@host/dbname
CORS_ORIGINS=https://votre-domaine-frontend.com

# Frontend
API_BASE_URL=https://votre-api-backend.com
